In [3]:
import pandas as pd

In [2]:
data = pd.read_csv('./datasets/big_mart_sales.csv')

In [3]:
# index of dataframe
data.index

RangeIndex(start=0, stop=8523, step=1)

In [4]:
data.shape

(8523, 12)

In [5]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [6]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
# CHANGE THE INDEX OF DATAFRAME

In [8]:
import random
rndList = [random.randint(1,8523) for i in range(8523)]

In [9]:
rndList

[7281,
 518,
 8266,
 123,
 1580,
 8068,
 398,
 7007,
 2580,
 6471,
 7921,
 8016,
 4425,
 1840,
 2680,
 5965,
 6487,
 5698,
 2670,
 7209,
 7668,
 4,
 1014,
 2037,
 2633,
 4683,
 6807,
 1722,
 4299,
 5236,
 4993,
 8390,
 9,
 1712,
 5736,
 6829,
 3555,
 2328,
 2155,
 2917,
 6916,
 1745,
 5196,
 5084,
 3965,
 2720,
 296,
 4607,
 3234,
 2780,
 5134,
 3892,
 1799,
 5175,
 8434,
 5692,
 3637,
 1729,
 2840,
 1193,
 714,
 6754,
 1569,
 7474,
 4833,
 3839,
 7455,
 717,
 5605,
 7676,
 4496,
 4113,
 7836,
 7939,
 978,
 5338,
 6906,
 768,
 3650,
 4641,
 7507,
 4227,
 5943,
 6581,
 1974,
 5497,
 653,
 8406,
 868,
 7040,
 7677,
 972,
 582,
 3543,
 6253,
 3108,
 5562,
 4064,
 2842,
 3603,
 434,
 6149,
 8319,
 7249,
 5517,
 3824,
 335,
 8438,
 4801,
 7245,
 6604,
 5225,
 5996,
 189,
 4661,
 7293,
 4643,
 300,
 7939,
 2982,
 7982,
 3960,
 6016,
 3340,
 4341,
 2220,
 4485,
 2131,
 7625,
 552,
 825,
 5355,
 1300,
 6228,
 3568,
 214,
 3677,
 3678,
 1216,
 5930,
 3205,
 8322,
 1013,
 7834,
 6562,
 1504,
 4815,
 8314,
 7913,
 6985,
 1983,
 6252,
 8361,
 6623,
 1148,
 5562,
 8469,
 4436,
 7014,
 7451,
 3860,
 3902,
 1540,
 8315,
 1574,
 5497,
 2758,
 5557,
 8478,
 5073,
 2549,
 1080,
 4627,
 7849,
 1806,
 2736,
 2230,
 7543,
 2552,
 2266,
 637,
 4220,
 750,
 1724,
 5693,
 5165,
 5084,
 7901,
 6367,
 922,
 7790,
 6685,
 6679,
 3591,
 4620,
 2684,
 3025,
 2173,
 245,
 368,
 6068,
 1619,
 1063,
 1257,
 7026,
 986,
 4934,
 368,
 6590,
 5200,
 6914,
 2730,
 149,
 6848,
 4994,
 4541,
 3153,
 450,
 1790,
 4573,
 3119,
 5861,
 1489,
 6690,
 7606,
 7448,
 7671,
 1540,
 3247,
 35,
 1111,
 4396,
 4510,
 4876,
 7093,
 1165,
 7246,
 3154,
 3570,
 6503,
 6233,
 1984,
 2327,
 5962,
 3192,
 6147,
 3020,
 3067,
 1534,
 4477,
 3049,
 6433,
 2526,
 5817,
 6878,
 5557,
 3547,
 2509,
 5927,
 3289,
 807,
 2672,
 4619,
 602,
 5712,
 5122,
 143,
 3505,
 7592,
 6010,
 2362,
 769,
 219,
 8244,
 7787,
 3912,
 1884,
 3887,
 4885,
 4072,
 5941,
 1319,
 4553,
 2723,
 7198,
 6994,
 1853,
 3284,
 7288,
 8279,
 8247,
 8059,
 3712,
 4419,
 6034,
 3909,
 6411,
 2602,
 1651,
 7643,
 6710,
 703,
 694,
 5372,
 2428,
 356,
 3446,
 1894,
 287,
 2031,
 8445,
 318,
 685,
 1988,
 4700,
 3310,
 1327,
 7021,
 6506,
 4855,
 6802,
 2025,
 3471,
 4994,
 358,
 7451,
 7749,
 4227,
 2183,
 6068,
 4912,
 4560,
 7853,
 1788,
 3334,
 6052,
 4085,
 1359,
 5367,
 68,
 3940,
 437,
 2559,
 3369,
 5094,
 5884,
 117,
 314,
 2395,
 4950,
 2161,
 6996,
 7599,
 510,
 1897,
 6900,
 1832,
 1033,
 7945,
 8038,
 3941,
 7421,
 1065,
 1904,
 6765,
 3450,
 5815,
 3413,
 2217,
 4421,
 631,
 4128,
 616,
 7304,
 4052,
 3960,
 7087,
 3326,
 2222,
 7607,
 7420,
 6124,
 1351,
 4230,
 551,
 4856,
 6646,
 7746,
 6639,
 6901,
 5719,
 6265,
 10,
 267,
 4787,
 3979,
 1359,
 1918,
 6890,
 6317,
 457,
 3256,
 2093,
 2686,
 946,
 5402,
 788,
 7429,
 2644,
 5335,
 6245,
 7158,
 416,
 6616,
 7553,
 2861,
 5660,
 1640,
 1874,
 7028,
 3698,
 8324,
 4555,
 4879,
 7098,
 7190,
 8009,
 6186,
 958,
 1090,
 495,
 4638,
 4318,
 7745,
 570,
 3117,
 3946,
 4719,
 4010,
 5078,
 2112,
 6972,
 6733,
 3548,
 6312,
 5338,
 4260,
 976,
 1286,
 6797,
 5931,
 1472,
 630,
 1546,
 7194,
 976,
 4461,
 5308,
 6052,
 5065,
 5276,
 415,
 2793,
 4631,
 7705,
 223,
 4063,
 4039,
 3968,
 4234,
 5920,
 6282,
 7952,
 7109,
 4104,
 6749,
 5952,
 4707,
 346,
 5762,
 5832,
 827,
 2331,
 4773,
 6995,
 8469,
 2570,
 4028,
 8026,
 1361,
 2103,
 7517,
 8013,
 286,
 1424,
 8248,
 2329,
 3317,
 7962,
 1217,
 5197,
 7164,
 8397,
 5835,
 6540,
 6386,
 2795,
 7990,
 125,
 5763,
 3126,
 7493,
 3049,
 2826,
 8227,
 6195,
 7833,
 4955,
 1426,
 4905,
 3945,
 3746,
 8123,
 1400,
 7333,
 276,
 2126,
 2511,
 4439,
 2386,
 6178,
 2121,
 8156,
 2440,
 5963,
 4762,
 7671,
 6697,
 7485,
 6203,
 7302,
 4524,
 707,
 247,
 5307,
 6294,
 6889,
 1773,
 7844,
 1198,
 992,
 4268,
 1571,
 5634,
 745,
 2566,
 4870,
 1908,
 5863,
 2355,
 4323,
 4050,
 2059,
 1038,
 5021,
 6735,
 3545,
 2085,
 6134,
 3268,
 3199,
 7270,
 3281,
 5069,
 4565,
 6244,
 1114,
 198,
 3592,
 1559,
 6776,
 161,
 5149,
 526,
 7638,
 3352,
 2986,
 2110,
 3677,
 8337,
 3717,
 4429,
 5087,
 2608,
 6678,
 1881,
 8005,
 6547,
 1660,
 5629,
 6111,
 7485,
 2747,
 2727,
 8125,
 7281,
 1043,
 2611,
 754,
 1315,
 4097,
 3434,
 2651,
 5037,
 5297,
 7978,
 3415,
 2119,
 4784,
 6696,
 4036,
 2815,
 5089,
 1968,
 5535,
 7537,
 4525,
 1888,
 2654,
 7623,
 7753,
 5683,
 6793,
 6464,
 5827,
 6702,
 6458,
 5120,
 1065,
 980,
 173,
 6870,
 1969,
 6640,
 2346,
 3635,
 2377,
 3090,
 2186,
 1125,
 4575,
 7335,
 3003,
 7549,
 3012,
 288,
 124,
 8464,
 2884,
 3662,
 4432,
 2554,
 8184,
 842,
 871,
 7578,
 5918,
 6991,
 1667,
 4206,
 2158,
 5774,
 1569,
 4475,
 4307,
 7104,
 3479,
 4662,
 5324,
 6439,
 6511,
 6314,
 6747,
 5864,
 4070,
 6718,
 6861,
 7625,
 5062,
 4614,
 7791,
 3680,
 2917,
 2309,
 792,
 1988,
 3431,
 796,
 555,
 3590,
 3761,
 4212,
 5412,
 6801,
 2932,
 5326,
 4570,
 721,
 7608,
 6493,
 6616,
 5836,
 4648,
 2649,
 3134,
 4876,
 7682,
 1928,
 629,
 5822,
 3507,
 3731,
 544,
 5999,
 125,
 8414,
 5827,
 4510,
 8062,
 3799,
 4646,
 5811,
 5482,
 5796,
 5837,
 3813,
 6747,
 3878,
 7221,
 26,
 5715,
 595,
 3405,
 2732,
 6855,
 7572,
 7161,
 5552,
 3696,
 2425,
 4818,
 1533,
 3992,
 2670,
 1644,
 2902,
 1757,
 3835,
 8397,
 5487,
 2063,
 4429,
 6447,
 7905,
 1361,
 7904,
 6751,
 4932,
 7893,
 3139,
 4863,
 5791,
 2478,
 2007,
 6463,
 6634,
 2467,
 6730,
 954,
 3867,
 7113,
 3476,
 2559,
 5709,
 1342,
 4776,
 2776,
 8364,
 703,
 8172,
 2672,
 2941,
 4941,
 5609,
 1543,
 8183,
 4802,
 246,
 2355,
 4867,
 1677,
 688,
 6755,
 720,
 1573,
 299,
 6602,
 6279,
 4020,
 7999,
 5847,
 3308,
 996,
 7514,
 620,
 3908,
 1612,
 2492,
 2730,
 5305,
 6263,
 5067,
 5100,
 8129,
 5689,
 4800,
 6882,
 4641,
 1526,
 7168,
 1780,
 6833,
 5029,
 6649,
 8040,
 1735,
 126,
 4329,
 687,
 4017,
 2628,
 8252,
 6776,
 1482,
 715,
 4929,
 4876,
 4142,
 6215,
 5978,
 5292,
 1783,
 1304,
 5922,
 843,
 759,
 4544,
 8316,
 2820,
 3901,
 3377,
 612,
 7408,
 2831,
 2569,
 8228,
 8107,
 2350,
 7304,
 7498,
 7308,
 1207,
 2779,
 2725,
 2698,
 5249,
 4393,
 5207,
 8293,
 2469,
 3251,
 5411,
 668,
 3492,
 6910,
 2532,
 2222,
 3028,
 8071,
 4487,
 4276,
 2725,
 7040,
 2198,
 2804,
 2050,
 5046,
 546,
 3997,
 2725,
 7459,
 4527,
 5192,
 4295,
 6862,
 683,
 3880,
 7612,
 3984,
 2548,
 5543,
 7108,
 8353,
 4635,
 373,
 1384,
 295,
 3216,
 5508,
 7519,
 7357,
 726,
 8283,
 3639,
 251,
 751,
 4572,
 6953,
 4327,
 110,
 2458,
 4265,
 642,
 4797,
 154,
 5231,
 7794,
 1126,
 3924,
 3930,
 3243,
 8291,
 3048,
 6862,
 4235,
 2586,
 480,
 2164,
 2567,
 1201,
 4292,
 4199,
 5804,
 5727,
 193,
 1407,
 7033,
 3262,
 1555,
 7044,
 5308,
 5770,
 3897,
 6145,
 4316,
 7364,
 1331,
 4060,
 4990,
 2666,
 4224,
 4001,
 5975,
 6206,
 8280,
 433,
 8510,
 4091,
 8455,
 4900,
 1334,
 3764,
 4791,
 86,
 5020,
 7561,
 8016,
 5969,
 5352,
 3405,
 7612,
 5787,
 2815,
 875,
 2228,
 7984,
 7155,
 6075,
 5237,
 6923,
 ...]

In [10]:
# set the index
data.index = rndList

In [11]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7281,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
518,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
8266,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
123,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
1580,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [31]:
data = pd.read_csv('./datasets/big_mart_sales.csv')
updatedData = data.set_index('Outlet_Establishment_Year', drop=True, inplace=False)

# drop = True --> drop the column that's set as index : so the column is not duplicate (if True)
# inplace = True --> make change in the original dataframe

In [32]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [33]:
updatedData.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [34]:
data.index

RangeIndex(start=0, stop=8523, step=1)

In [35]:
data.set_index('Item_Identifier', drop=True, inplace=True)
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [37]:
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

In [38]:
# SUBSET THE DATA BASED ON LABEL INDEX

In [39]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,2002,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,2004,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,1998,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,1987,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,1985,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,2007,NaN,Tier 2,Supermarket Type1,5976.2208

In [40]:
# RESET THE INDEX

In [41]:
data.reset_index(inplace=True)

In [42]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [43]:
# SUBSET THE DATA BASED ON THE VALUE OF COLUMN

In [44]:
data[data['Item_Type'] == 'Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,2007,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392

-----------------------------------------------------------------------------------------------------------------------

----------------------------------------SUBSETTING: POSITION BASED-----------------------------------------------------

In [46]:
data = pd.read_csv('./datasets/big_mart_sales.csv')
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [47]:
# View top rows : will show the botom rows
data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [48]:
# SELECT ROWS IN PARTICULAR RANGE

In [49]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [50]:
# select range from 10:15
data[10:15]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260

In [51]:
# Select the rows by position

In [53]:
# Select specific rows by index
data.iloc[[1,5,2,46,14]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
46,NCP05,19.600,Low Fat,0.000000,Health and Hygiene,153.3024,OUT045,2002,NaN,Tier 2,Supermarket Type1,2428.8384
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260

In [55]:
# Select specific rows and column
data.iloc[[1,5,2,46,14], [0,3,5]]

   Item_Identifier  Item_Visibility  Item_MRP
1            DRC01         0.019278   48.2692
5            FDP36         0.000000   51.4008
2            FDN15         0.016760  141.6180
46           NCP05         0.000000  153.3024
14           FDF32         0.068024  196.4426

In [ ]:
data.iloc[10:15:2]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

----------------------------------------SUBSETTING: LABEL BASED-----------------------------------------------------

In [5]:
data = pd.read_csv('./datasets/big_mart_sales.csv')
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
# set Item_Identifier coulum as index
data.set_index('Item_Identifier', drop=True, inplace=True)

In [7]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [8]:
# select rows as index value; ex. 'FDA15' 
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,2002,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,2004,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,1998,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,1987,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,1985,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,2007,NaN,Tier 2,Supermarket Type1,5976.2208

In [ ]:
# select rows as index value; ex. 'FDA15' and 'FDA03' 
data.loc[['FDA15', 'FDA03']]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,2002,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,2004,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,1998,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,1987,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,1985,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,2007,NaN,Tier 2,Supermarket Type1,5976.2208
FDA03,18.5,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
FDA03,NaN,Regular,0.045244,Dairy,146.8102,OUT027,1985,Medium,Tier 3,Supermarket Type3,3499.4448
FDA03,18.5,Regular,0.000000,Dairy,144.2102,OUT035,2004,Small,Tier 2,Supermarket Type1,2041.3428
FDA03,18.5,Regular,0.076097,Dairy,145.8102,OUT010,1998,NaN,Tier 3,Grocery Store,291.6204
FDA03,18.5,Regular,0.045426,Dairy,144.9102,OUT013,1987,High,Tier 3,Supermarket Type1,1895.5326
FDA03,18.5,Regular,0.045534,Dairy,146.3102,OUT049,1999,Medium,Tier 1,Supermarket Type1,3645.2550

In [10]:
# select rows as index value; ex. 'FDA15' and 'FDA03' with specific column
data.loc[['FDA15', 'FDA03'], 'Item_Fat_Content']

Item_Identifier
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15         LF
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
Name: Item_Fat_Content, dtype: object

In [11]:
# select rows as index value; ex. 'FDA15' and 'FDA03' with specific column
data.loc[['FDA15', 'FDA03'], ['Item_Fat_Content', 'Item_Visibility', 'Outlet_Size']]

                Item_Fat_Content  Item_Visibility Outlet_Size
Item_Identifier
FDA15                    Low Fat         0.016047      Medium
FDA15                    Low Fat         0.016055         NaN
FDA15                    Low Fat         0.016019       Small
FDA15                    Low Fat         0.016088      Medium
FDA15                    Low Fat         0.026818         NaN
FDA15                    Low Fat         0.016009        High
FDA15                    Low Fat         0.015945      Medium
FDA15                         LF         0.016113         NaN
FDA03                    Regular         0.045464       Small
FDA03                    Regular         0.045244      Medium
FDA03                    Regular         0.000000       Small
FDA03                    Regular         0.076097         NaN
FDA03                    Regular         0.045426        High
FDA03                    Regular         0.045534      Medium

In [12]:
# DIFFERENCE BETWEEN LOC AND ILOC

In [14]:
sampleDF = pd.DataFrame({
    'gender': ['M', 'F', 'M', 'M', 'F'],
    'grade' : ['A', 'A', 'B', 'B', 'A'],
    'marks' : [22, 21, 12, 14, 20],
    'id'    : ['A101', 'A102', 'A103', 'A104', 'A105']
})
sampleDF

  gender grade  marks    id
0      M     A     22  A101
1      F     A     21  A102
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [17]:
sampleDF.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [18]:
sampleDF.iloc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104

In [19]:
sampleDF = sampleDF.sort_values(by=['marks'])
sampleDF

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105
1      F     A     21  A102
0      M     A     22  A101

In [20]:
sampleDF.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [21]:
sampleDF.iloc[2:4]

  gender grade  marks    id
4      F     A     20  A105
1      F     A     21  A102

In [22]:
# Let's change the index of dataframe to categorical Variable
sampleDF.set_index('id', inplace=True)
sampleDF

     gender grade  marks
id
A103      M     B     12
A104      M     B     14
A105      F     A     20
A102      F     A     21
A101      M     A     22

In [24]:
sampleDF.iloc[2:4]

     gender grade  marks
id
A105      F     A     20
A102      F     A     21

In [ ]:
sampleDF.loc[2:4]
# it would be error due to the index is not based on the label of index

In [29]:
sampleDF.loc['A104':'A102']
# it would be error due to the index is based on the label of index

     gender grade  marks
id
A104      M     B     14
A105      F     A     20
A102      F     A     21

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

----------------------------------------SUBSETTING: VALUE BASED-----------------------------------------------------

In [32]:
data = pd.read_csv('./datasets/big_mart_sales.csv')
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [35]:
# filter rows with condition
data[data.Outlet_Establishment_Year == 1987]

# it would be same with 
# data.loc[data.Outlet_Establishment_Year == 1987]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
...,...,...,...,...,...,...,...,...,...,...,...,...
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [ ]:
# check by multiple condition # wiht & sign (only 2009 AND Medium would be showed)
data[(data.Outlet_Establishment_Year == 2009) & (data.Outlet_Size == 'Medium')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
31,NCS17,18.600,Low Fat,0.080829,Health and Hygiene,96.4436,OUT018,2009,Medium,Tier 3,Supermarket Type2,2741.7644
32,FDP33,18.700,Low Fat,0.000000,Snack Foods,256.6672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.0064
...,...,...,...,...,...,...,...,...,...,...,...,...
8506,DRF37,17.250,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976

In [38]:
# check by multiple condition # wiht | sign (only 2009 OR Medium would be showed)
data[(data.Outlet_Establishment_Year == 2009) | (data.Outlet_Size == 'Medium')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
...,...,...,...,...,...,...,...,...,...,...,...,...
8506,DRF37,17.250,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976

In [39]:
# check by multiple condition # wiht != sign (data except 2009)
data[(data.Outlet_Establishment_Year != 2009)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
...,...,...,...,...,...,...,...,...,...,...,...,...
8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [40]:
# FILTER FOR LIST OF VALUES

In [43]:
# Get rows for 1987, 1988, 1999
data[(data.Outlet_Establishment_Year == 1987) | (data.Outlet_Establishment_Year == 1988) | (data.Outlet_Establishment_Year == 1999)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
...,...,...,...,...,...,...,...,...,...,...,...,...
8475,NCS17,18.600,Low Fat,0.080627,Health and Hygiene,92.5436,OUT049,1999,Medium,Tier 1,Supermarket Type1,378.1744
8479,FDL10,8.395,Low Fat,0.039554,Snack Foods,99.1042,OUT049,1999,Medium,Tier 1,Supermarket Type1,2579.3092
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [45]:
# Get rows for 1987, 1988, 1999 by using isin
data[data.Outlet_Establishment_Year.isin([1987, 1988, 1999])]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
...,...,...,...,...,...,...,...,...,...,...,...,...
8475,NCS17,18.600,Low Fat,0.080627,Health and Hygiene,92.5436,OUT049,1999,Medium,Tier 1,Supermarket Type1,378.1744
8479,FDL10,8.395,Low Fat,0.039554,Snack Foods,99.1042,OUT049,1999,Medium,Tier 1,Supermarket Type1,2579.3092
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [46]:
# Select data for specific columns

In [47]:
columns = ['Item_Identifier', 'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size']
data[columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
0              FDA15  249.8092                       1999      Medium
1              DRC01   48.2692                       2009      Medium
2              FDN15  141.6180                       1999      Medium
3              FDX07  182.0950                       1998         NaN
4              NCD19   53.8614                       1987        High
...              ...       ...                        ...         ...
8518           FDF22  214.5218                       1987        High
8519           FDS36  108.1570                       2002         NaN
8520           NCJ29   85.1224                       2004       Small
8521           FDN46  103.1332                       2009      Medium
8522           DRG01   75.4670                       1997       Small

[8523 rows x 4 columns]

In [48]:
# select spesific value and specific coulum
data[(data.Outlet_Establishment_Year == 2009) | (data.Outlet_Size == 'High')][columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
1              DRC01   48.2692                       2009      Medium
4              NCD19   53.8614                       1987        High
5              FDP36   51.4008                       2009      Medium
6              FDO10   57.6588                       1987        High
14             FDF32  196.4426                       1987        High
...              ...       ...                        ...         ...
8512           FDR26  178.3028                       1987        High
8515           FDH24  157.5288                       2009      Medium
8516           NCJ19   58.7588                       2009      Medium
8518           FDF22  214.5218                       1987        High
8521           FDN46  103.1332                       2009      Medium

[1860 rows x 4 columns]

In [49]:
# using loc
data.loc[(data.Outlet_Establishment_Year == 2009) | (data.Outlet_Size == 'High'), columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
1              DRC01   48.2692                       2009      Medium
4              NCD19   53.8614                       1987        High
5              FDP36   51.4008                       2009      Medium
6              FDO10   57.6588                       1987        High
14             FDF32  196.4426                       1987        High
...              ...       ...                        ...         ...
8512           FDR26  178.3028                       1987        High
8515           FDH24  157.5288                       2009      Medium
8516           NCJ19   58.7588                       2009      Medium
8518           FDF22  214.5218                       1987        High
8521           FDN46  103.1332                       2009      Medium

[1860 rows x 4 columns]

In [50]:
# SELECT COLOUM BY DATA TYPE

In [51]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [52]:
# select data type
data.select_dtypes('object')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,Fruits and Vegetables,OUT010,NaN,Tier 3,Grocery Store
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...
8518,FDF22,Low Fat,Snack Foods,OUT013,High,Tier 3,Supermarket Type1
8519,FDS36,Regular,Baking Goods,OUT045,NaN,Tier 2,Supermarket Type1
8520,NCJ29,Low Fat,Health and Hygiene,OUT035,Small,Tier 2,Supermarket Type1
8521,FDN46,Regular,Snack Foods,OUT018,Medium,Tier 3,Supermarket Type2
8522,DRG01,Low Fat,Soft Drinks,OUT046,Small,Tier 1,Supermarket Type1

In [53]:
data.select_dtypes('float64')

      Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
0           9.300         0.016047  249.8092          3735.1380
1           5.920         0.019278   48.2692           443.4228
2          17.500         0.016760  141.6180          2097.2700
3          19.200         0.000000  182.0950           732.3800
4           8.930         0.000000   53.8614           994.7052
...           ...              ...       ...                ...
8518        6.865         0.056783  214.5218          2778.3834
8519        8.380         0.046982  108.1570           549.2850
8520       10.600         0.035186   85.1224          1193.1136
8521        7.210         0.145221  103.1332          1845.5976
8522       14.800         0.044878   75.4670           765.6700

[8523 rows x 4 columns]